.DS_Store
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/
*.csproj
*.sln
*.pidb
*.suo
*.user
*.userprefs
*.pidb.meta
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
crashlytics-build.mtl
UserSettings/
